body {
  font-family: "Arial";
  background-color: #0d1117;
  color: #c9d1d9;
}
h1 {
  color: #58a6ff;
}
a {
  color: #8b949e;
  text-decoration: none;
}
a:hover {
  color: #1f6feb;
}
a::after {
  content: "🌌";
}
ul > li {
  font-weight: bold;
}
ul li:hover {
  color: #4f8cc9;
}
ul li::before {
  content: "🚀";
}
ul li:nth-child(3) {
  background-color: #5a7755;
}
p::first-letter {
  font-size: 200%;
  color: #ff7b7f;
}
